.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/87a1d9d8-a21d-4109-ba3a-c10d9055f5cf/5d27faaf-e86e-453f-a7b1-b26391123181/BD-en-20220307-popsignuptwoweeks-perspective_alpha_website_medium.jpg") 
                center no-repeat;
    background-size: cover;

}

.loginScreen_gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}

.loginScreen_logo {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100px;
  object-fit: contain;
  padding-left: 20px;
  cursor: pointer;
}

.loginScreen_button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.loginScreen_body > h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.loginScreen_body > h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginScreen_body {
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 20px;
}
